{% extends 'base.html'%}
{% load staticfiles %}

{% block title %}
    <title>博客存档</title>
{% endblock %}
{% block headInfo %}
    <div class="blog-header">
        <h1 class="blog-title">Archive Blog<span class="badge badge-2">{{ num }}</span></h1>
        <hr>
    </div>
{% endblock %}
{% block col-8 %}
    <div class="col-md-8">
        {% for foo in  articles.object_list %}
            <div class="col-md-12">
                <div class="blog-post">
                    <h4 class="blog-post-meta"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;{{ foo.date }} by <a>{{ foo.author }}</a></h4>
                    <h3 class="blog-post-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'art' foo.id %}">{{ foo.title }}</a></h3>
                    <hr>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="{% if articles.has_previous %}{% else %}disabled{% endif %}" >
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in articles.pages %}
                        {% if page %}
                            {% ifequal page all_orgs.number %}
                                 <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                             {% else %}
                                 <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                             {% endifequal %}
                        {% else %}
                             <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="{% if articles.has_next %}{% else %}disabled{% endif %}">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}
