{% extends 'base.html'%}
{% load staticfiles %}

{% block title %}
    <title>博客专栏</title>
{% endblock %}
{% block headInfo %}
    <div class="blog-header">
        <h1 class="blog-title">Archive Blog<span class="badge badge-2">{{ num }}</span></h1>
        <hr>
    </div>
{% endblock %}
{% block col-8 %}
    <div class="col-md-8">
        {% for foo in  columnList.object_list %}
            <div class="col-md-12">
                <div class="bs-callout bs-callout-info">
                    <h4><a href="{% url 'colArticle' foo.id %}">{{ foo.name }}</a></h4>
                    <p>{{ foo.overView }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="{% if columnList.has_previous %}{% else %}disabled{% endif %}" >
                        <a {% if columnList.has_previous %}
                                href="?{{ columnList.previous_page_number.querystring }}"
                              {% else %}
                                href="javascript:void(0)"
                              {% endif %}
                                aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in columnList.pages %}
                        {% if page %}
                            {% ifequal page columnList.number %}
                                 <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                             {% else %}
                                 <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                             {% endifequal %}
                        {% else %}
                             <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="{% if columnList.has_next %}{% else %}disabled{% endif %}">
                        <a {% if articles.has_next %}
                                href="?{{ columnList.next_page_number.querystring }}"
                            {% else %}disabled
                                href="javascript:void(0)"
                            {% endif %}
                        aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}
